/* 가변 폰트용 CSS import */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css');

/* body 및 주요 요소에 폰트와 합성 방지 속성 적용 */
button, input, select, textarea, table {
  font-family: "Pretendard Variable", Pretendard, sans-serif !important;
  font-synthesis: none;
}

body {
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  //  background-color: white;
  font-family: "Pretendard Variable", Pretendard, sans-serif !important;
  font-synthesis: none;

  font-size: 14px;

  header {
    margin-bottom: 1.8em;
  }

  h1 {
    font-size: 2em !important;

    /* 40px/16=2.5em */
    img {
      height: 32px;
      width: auto;
    }
  }

  h2 {
    font-size: 1.5em !important;
    /* 30px/16=1.875em */
  }

  h3 {
    font-size: 1.17em !important;
  }

  h1,
  h2,
  h3
   {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  p {
  margin-bottom: 1.5em;
  }

  /* giscus 댓글 영역을 본문 폭에 맞춰 중심 정렬 */
  .giscus {
    max-width: 100%;
    // max-width: 700px; /* 예: 본문 최대 폭 CSS 변수 */
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
  }

  /* Giscus 내부 iframe 강제 폭 지정 */
  .giscus iframe.giscus-frame {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }
}
