body {
  /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  //  background-color: white;
  //  .content {
  //   font-size: 14px;
  //  }
  //  h1 {
  //   color: black;
  //  }
}

/* giscus 댓글 영역을 본문 폭에 맞춰 중심 정렬 */
.giscus {
  max-width: 100%;
  // max-width: 700px; /* 예: 본문 최대 폭 CSS 변수 */
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Giscus 내부 iframe 강제 폭 지정 */
.giscus iframe.giscus-frame {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

p {
  margin-bottom: 1.5em; /* p 태그 아래쪽에 여백 추가 */
}
